<%- include('_head.ejs', {title: 'Event Booking'}) %>
<form method='post'>
  <div class="w3-container light-border" id="step1" >
    <h2>Basic Info</h2>
    <p>Select a Type:
      <input type="radio" name="Type" value="wedding">Wedding
      <input type="radio" name="Type" value="birthday">Birthday
      <input type="radio" name="Type" value="party">Party
      <input type="radio" name="Type" value="corporate event">Corporate Event
    </p>
    <p>Subject:<input class="align-right" type="text" name="Subject" value="<%= _event_? _event_.Subject: ''%>" ></p>
    <p>Budget:  <input class="align-right" type="text" name="Budget" min="0" value="<%= _event_? _event_.Budget: ''%>"></p>
    <p>Invitees:<input class="align-right" type="number" name="NumGuests" min="1" value="<%= _event_? _event_.NumGuests: ''%>"></p>
    <p>Client: <input class="align-right" type="text" name="Client" value="<%= _event_? _event_.Client: ''%>"></p>
    <p>Date:  <input type="date" name="DesiredDate" value="<%= _event_? _event_.DesiredDate: ''%>"> </p>
    <p>Description:</p>
    <textarea rows="4" cols="50" name="Description"><%= _event_? _event_.Description: ''%></textarea>

    <p style="width:570px">
      <input type="button" value="Cancel" onclick="cancel_clicked()">
      <input style="float:right" type="button" value="Next" onclick="next_clicked()">
    </p>
  </div>

  <div class="w3-container light-border" id="step2">
    <h2>Venue</h2>
    <p>Select Venue:
      <select name="Location" onchange="fillLocation()" onload="fillLocation()">
          <% venues.forEach( (v) => { %>
            <option value=<%- v.ID %> data-capacity=<%- v.Capacity %> data-price=<%- v.Price %>>
              <%= v.Address %>
            </option>
          <% }) %>
      </select>
    </p>
    <p>Capacity: <span id="location-capacity"></span></p>
    <p>Price: <span id="location-price"></span></p>
    <p style="width:570px">
      <input type="button" value="Cancel" onclick="cancel_clicked()">
      <input style="float:right" type="submit" value="Done">
    </p>
  </div>
</form>

<script>
  let eventBookingStep = 0;
  function fillLocation() {
    let selectElement = document.querySelector('select[name=Location]');
    let optionElement = selectElement.options[selectElement.selectedIndex];
    document.querySelector('#location-capacity').innerHTML = optionElement.getAttribute('data-capacity');
    document.querySelector('#location-price').innerHTML = optionElement.getAttribute('data-price');
  }

  function cancel_clicked(){
    location.href= "/search_event";
  }

  function next_clicked() {
    let page1 = document.querySelector('#step1');
    let page2 = document.querySelector('#step2');
    let page3 = document.querySelector('#step3');
    if(eventBookingStep === 0){
      console.log(1)
      page1.style.display ="none";
      page2.style.display ="inherit";
      page3.style.display = "none";
      eventBookingStep ++;
    } else{
      console.log(3)
    }
  }



</script>
<%- include _tail.ejs %>


























